.order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  /* background-color: coral; */
}

ul {
  list-style: none;
}

.order__details {
  max-width: 341px;
}

.order__custServ {
  align-items: center;
  text-align: center;
}
.order__custServ > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order__invoice {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* .order__invoiceDate {
    width: 77px;
  } */
.order__invoiceDate > #startDate {
  margin-bottom: 10px;
}

#horizontal {
  height: 1px;
  min-width: 310px;
  background: #9a9a9a;
}
/* 
  .order__customerDetail {
    margin-top: 10px;
  } */
.table {
  width: 100%;
}
