.payment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment__image {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.payment__img {
  padding: 10px;
}
h3,
p {
  text-align: center;
}
